{% extends 'library.html' %}
{% block content %}
    <div class="semi" style="text-align: center;">
        <h1>Add/Edit Song</h1>
        <form method = 'POST' enctype="multipart/form-data">
            {% csrf_token %}
            <table class = 'w-50 table table-light'>
                {% for field in song %}
                <tr>
                    <th>{{field.label}}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </table>
            <a href="{% url 'song_library' %}" class="btn btn-lg btn-light">abandon</a>
            <button type="submit" class="btn btn-lg btn-primary">save</button>
        </form>
    </div>
{% endblock %}